<%- include('../partials/header.ejs') %>

    <h1>Note</h1>

    <div>
        <p>
            <%- note.content %>
        </p>
        <em>
            <%- note.create_at %>
        </em>
        <a href="/notes/<%- note.id %>/edit">Edit</a>
        <form action="/notes/<%- note.id %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete">
        </form>
    </div>

    <%- include('../partials/footer.ejs') %>