<%- include('../partials/header.ejs') %>
    <div class="card mb-4">
        <% if(post.image_url){ %>
            <img class="card-img-top" src="<%- post.image_url %>" alt="post image">
            <%} %>
                <div class="card-body">
                    <h5 class="card">
                        <%- post.title %>
                    </h5>
                    <p class="card-text">
                        <%- post.content %>
                            <em>Seen <%- post.view_count %> times </em>
                            <em>Posted at <%- new Date(post.created_at).toLocaleString() %></em>
                    </p>
                    <form action="/posts/<%- post.id %>" method="post">
                        <input type="hidden" name="_method" value="delete">
                        <input type="submit" class="btn btn-outline-danger" value="Delete">
                    </form>
                    <a href="/posts/<%- post.id %>/edit">Edit</a>
                </div>
    </div>
    <%- include('../partials/footer.ejs') %>